header{
    background-image:url(terv.jpg);
    background-size: cover;
    height: 500px;
}

body{
    background-color: #FAF0DC;
}

nav{
    padding: 20px 40px;
}

section{
    display: flex;
    flex-direction:column;
    background-color: white;
    padding: 20px;
    margin: 40px auto;
    margin-top: 5px;
    width: 40%;
    border-radius: 25px;
}

h2{
    text-align: center;
}

p{
    text-align: center;
}

footer{
    display: flex;
    border-style:solid;
    border-color: black;
    background-color: white;
    justify-content: space-evenly;
}

#csak{
    margin-top: 80px;
}